<div class="search-button align-icon" onclick="toggleSearch()">
    <span class="search-icon">
        <i icon-name="search" ></i>
    </span>
    <span class="search-text">
        <span>Search</span>
        <span style="font-size: 0.6rem; padding: 0px 0px 0 2px; text-align:center; transform: translateY(-15px);" class="search-keys">
            (CTRL + K)
        </span>
    </span>
</div>
