<div class="search-button align-icon" onclick="toggleSearch()">
    <span style="align:left" class="search-icon">
        <i icon-name="search" ></i>
    </span>
    <span style="text-align:center" class="search-text">
        <span>Search</span>
        
    </span>
</div>
