body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }


    .toc {
        padding-right: 5px;
        background-color: var(--background-secondary);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        ol {
            list-style: none;
            padding-left: 20px;
            border-left: 2px solid var(--background-primary);
        }

        & > ol {
            padding-left: 0;
            border-left: none;
        }
    }

    .backlinks {
        flex: 1;
        margin-top: 10px;
        background-color: var(--background-secondary);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;

        .backlink-title {
            margin: 4px 0;
            font-size: 18px !important;
            color: var(--h6-color);
        }
    }

    .callout {
        overflow: hidden;
        border-style: solid;
        border-color: rgba(var(--callout-color), var(--callout-border-opacity));
        border-width: var(--callout-border-width);
        border-radius: var(--callout-radius);
        margin: 1em 0;
        mix-blend-mode: var(--callout-blend-mode);
        background-color: rgba(var(--callout-color), 0.1);
        padding: var(--callout-padding);
    }

    .search-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .search-icon {
        margin-right: 24px;
    }

    .search-text {
        /* Additional styling if needed */
    }

    .content {
        max-width: 900px;
        margin: auto;
        font-size: 18px;
        line-height: 1.5;
        margin-top: 90px;
        position: relative;

        @media (max-width: 1080px) {
            margin-top: 75px;
        }
    }

    .search-input-container:before {
        top: calc((var(--input-height) - var(--search-icon-size))/2);
        left: 8px;
        position: absolute;
        content: '';
        height: var(--search-icon-size);
        width: var(--search-icon-size);
        display: block;
        background-color: var(--search-icon-color);
        -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='butt' stroke-linejoin='miter'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>");
        -webkit-mask-repeat: no-repeat;
    }
}
