@import url('https://fonts.googleapis.com/css?family=JetBrains Mono');

body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    --font-default: "JetBrains Mono";
    --font-monospace: "JetBrains Mono";
    font-weight: 100;

    .toc {
        padding-right: 5px;
        background-color: var(--background-secondary);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        ol {
            list-style: none;
            padding-left: 20px;
            border-left: 2px solid var(--background-primary);
        }

        & > ol {
            padding-left: 10px;
            border-left: none;
        }

        a {
          text-align: center !important;
          padding: 2px 8px
        }

        li::before {
          display: none;
        }
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }

    .video-container {
      width: 100%;
      margin: 1em 0;
      border-radius: 15px;
      overflow: hidden;

      video {
        width: 100%;
        height: auto;
        display: block;
        background-color: var(--background-primary);
      }
    }

    .backlinks {
        flex: 1;
        margin-top: 10px;
        background-color: var(--background-secondary);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;

        .backlink-title {
            margin: 4px 0;
            font-size: 18px !important;
            color: var(--h6-color);
        }
    }

    .callout {
        overflow: hidden;
        border-style: solid;
        border-color: rgba(var(--callout-color), var(--callout-border-opacity));
        border-width: var(--callout-border-width);
        border-radius: var(--callout-radius);
        margin: 1em 0;
        mix-blend-mode: var(--callout-blend-mode);
        background-color: rgba(var(--callout-color), 0.1);
        padding: var(--callout-padding);
    }

    .search-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .search-icon {
        margin-right: 24px;
    }

    .content {
        max-width: 900px;
        margin: auto;
        font-size: 18px;
        line-height: 1.5;
        margin-top: 90px;
        position: relative;

        @media (max-width: 1080px) {
            margin-top: 75px;
        }
    }

    --note-icon-1: url(/img/box.svg);
    --note-icon-2: url(/img/tree-2.svg);
    --note-icon-3: url(/img/tree-3.svg);
    --note-icon-fallback: url(/img/default-note-icon.svg);

    .foldername {
      margin-left: 8px;
    }

    .filetree-sidebar {
      width: 300px;
    }

    .filename {
      text-align: center !important;
      padding: 2px 8px;
    }

    .notelink i,
    .filename::before {
      margin-right: 8px;
    }
}

